{% extends 'globalapp/base.html' %}{% load static %} {% block title %}
<title>Домашняя страница</title>

{% endblock %}
  {% block content %}
  <body>
    <div class="container-fluid text-center">
        <h1>Привет всем, это сайт "The Simple Life"</h1>
        <p>
          Сделай свою жизнь проще, найти необходимый функционал на этом
          сайте(Создание пароля, просмотр погоды и примерный прогноз, что надеть в данный момент,
          калькулятор и переводчик, в будущем сайт будет дорабатываться, добавляться новые фишки и тд). 
          В хедере сайта все необходимое тебе, надеюсь тебе понравится. Добавил регистрацию на сайт, поэтому, чтобы использовать весь функционал,
          зарегистрируйся пожалуйста, там очень простая регистрация без подтверждений почты и всякой другой мороки.
        </p>
        <img class="img-fluid" src="{% static 'img/homepage.png' %}" width="700" alt="Фоточка">
    </div>
  </body>
  {% endblock %}
</html>
